* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background: #e8eeff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    width: 850px;
    max-width: 100%;
    min-height: 450px;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 6px 24px rgba(0,0,0,0.15);
}

.form-container {
    position: absolute;
    height: 100%;
    top: 0;
    width: 50%;
    padding: 40px;
    transition: all 0.6s ease-in-out;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px;
    border-radius: 8px;
    border: 1px solid #bbb;
}

button {
    padding: 12px;
    width: 100%;
    background: #1b4dcc;
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background: #003cbe;
}

.overlay-container {
    position: absolute;
    left: 50%;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: 0.6s ease-in-out;
}

.overlay {
    background: #1b4dcc;
    height: 100%;
    padding: 40px;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ghost {
    border: 2px solid #fff;
    background: transparent;
    margin-top: 15px;
}

p {
    margin-top: 10px;
    color: red;
    font-size: 14px;
}

.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.container.right-panel-active .sign-up-container {
    opacity: 1;
    transform: translateX(100%);
    z-index: 5;
}
